<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New User</title>
</head>
<body>
  <h1>Register for reddit</h1>
  <form class="" action="/users" method="post">
    <label for="username">Username:</label>
    <input type="textbox" name="username" id="username">
    <label for="username">First Name:</label>
    <input type="textbox" name="first_name" id="first_name">
    <label for="username">Last Name:</label>
    <input type="textbox" name="last_name" id="last_name">
    <label for="username">Email:</label>
    <input type="email" name="email" id="email">
    <label for="username">Password:</label>
    <input type="password" name="password" id="password">

    <input type="submit">
  </form>
</body>
</html>
