<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Your Page</title>
</head>
<body>
  <h1>This is a single users page</h1>
  <h3>Username: <%=users.username %></h3>
  <a href="/users/<%=userID %>/posts">See Posts</a>
  <a href="/users/<%=userID %>/comments">See Comments</a>


</body>
</html>
