<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
</head>
<body>
  <h1>This is the Users Page</h1>
  <!-- <% var deez = JSON.parse(users) %>
  <% deez.forEach(function(user){ %>
    <h2><%=user %></h2>

  <%  }) %> -->
  <% for(var i = 0; i < users.length; i++){ %>
    <h2><%=users[i].username %></h2>
  <% } %>
</body>
</html>
